  .activity-log {
      position: relative;
      .activitylog-commenttoggle{
          align-items: flex-end;
          width: 35%;
          justify-content: space-between;
      }
  }

  .activity {
      align-items: center;
      margin: 15px 0;
  }

  .activity-details {
      flex-direction: column;
      font-size: 14px;
      word-wrap: break-word;
      max-width: 450px;
  }

  .avatar {
      padding-right: 15px;

  }
