header {
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.199);
    padding: 5px;

    a {
        color: white;
    }

    .main-logo {
        font-family: 'Megrim-Regular';
        font-size: 2rem;
        font-weight: bold;
    }

    .header-avatar {
        position: relative;
    }

    .pop-up {
        position: fixed;
        right: -117px;
        top: 144px;
        z-index: 11;

    }
}

.about-user {
    width: 100%;
    padding: 0 10px 0 10px;

    .profile {
        display: flex;
        justify-content: space-between;

        .name-profile {
            display: flex;
            flex-direction: column;
            margin-left: 7px;
            justify-content: center;



            small {
                margin-right: 7px;
            }

        }

        .avatar-profile {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: 9px;
        }
    }

    .link {
        margin: 0 7px;
        padding: 4px;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            background-color: rgba(9, 30, 66, .04);
        }

        a {
            color: #516079;
        }
    }
}