header {
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .15);
    padding: 5px;

    a {
        color: white;
    }

    .main-logo {
        font-family: 'Megrim-Regular';
        font-size: 2rem;
    }

    .header-avatar {
        position: relative;
    }

    .pop-up {
        position: fixed;
        right: -44px;
        top: 115px;
        z-index: 11;

    }
}

.about-user {
    width: 100%;
    padding: 0 10px 10px 10px;

    .profile {
        display: flex;

        .name-profile {
            display: flex;
            flex-direction: column;
            margin-left: 7px;

            span {}

            small {
                margin-right: 7px;
            }

        }
    }
}