.attachments-preview {

    .image-preview {
        display: flex;

        .image-cover {
            height: 80px;
            width: 112px;
            margin-bottom: 8px;
            @include aspect-ratio(16, 9);
            border-radius: 3px;

            .img {
                width: 100%;
            }
        }
    }

    .image-name {
        font-weight: 700;
        margin-bottom: 0;
    }

    .image-details {
        margin-left: 12px;
        padding: 8px;

        span:first-child {
            margin-bottom: 5px;
            display: inline-block;
        }
    }

    .image-info {
        text-decoration: underline;
        cursor: pointer;
    }

    .cover-maker {
        display: block;
    }

}

.edit-window {
    position: fixed;
    bottom: 300px;
    left: 300px;
    width: 304px;
    background-color: white;
    border-radius: 3px;
    padding: 0 12px 12px;
    z-index: 2;

    h3 {
        text-align: center;
        font-weight: 400;
        font-size: 16px;

    }

    i {
        position: absolute;
        right: 19px;
        top: 17px;
    }

    .edit-window-title {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .04em;
        line-height: 16px;
        margin-top: 16px;
        text-transform: uppercase;
        color: #5e6c84c2;
        text-align: left;
        margin-left: 4px;
    }

    input {
        width: 100%;
        margin: 10px 0;
    }

}

.image-window {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;

    div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.task-attachment {
    display: flex;
    flex-direction: column;

    .file-upload {
        padding: 5px 0;
        margin-bottom: 10px;

        &:hover {
            background-color: rgba(9, 30, 66, .04);
        }
    }

}