.board-header {
    width: 100%;
    align-items: center;
    padding: 5px;
    height: 52px;
    background-color: transparent;

    .search-members {
        justify-content: space-between;
        width: 250px;
    }

    .header-container {
        align-items: center;
        flex: 1;

        &>* {
            margin: 1%;
        }

        h2 {
            color: white;
        }

        .avatars-show {
            margin-left: 26px;
        }

    }

    .board-header-avatar {
        margin-left: -5%;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }

    .clean-input {
        min-width: 1%;
        max-width: 100%;
        width: 30%;
        box-sizing: content-box;
        color: white;
        display: block;
        font-size: 1.5em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        font-weight: bold;
    }
}

.user-profileimg {
    border-radius: 50%;
    height: 30px;
    width: 30px;

}

@media only screen and (max-width: 810px) {
    .board-header {
        .header-container {
            h2 {
                font-size: 1rem;
            }
        }
    }
}

.show-menu:after {
    content: 'Show Menu'
}

.invite-members:after {
    content: 'Invite';
}

@media only screen and (max-width: 580px) {
    .show-menu:after {
        font-family: "FontAwesome";
        content: '\f141';
    }

    .invite-members:after {
        font-family: "FontAwesome";
        content: '\f234';
    }

    .avatars-show {
        display: none;
    }
}