.quick-edit-modal {
    background: rgba(0, 0, 0, .6);
    bottom: 0;
    color: #fff;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;

    .quick-edit {
        position: absolute;
        width: 256px;
        top: 0;
        background: white;
        z-index: 11;

        .quick-edit-menu {
            position: absolute;
            right: -61px;
            top: 0;
            z-index: 11;
        }
    }
}