.quick-edit {
    position: absolute;
    top: 0;
    background: white;
    z-index: 5;
    
    .quick-edit-menu {
        position: absolute;
        right: -61px;
        top: 0;
        z-index: 5;
    }
    .quick-edit-modal {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 2;
    }
}