.gallery {
    h1 {
        margin: 30px auto;
        color: white;
    }

    .board-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: 150px;
        gap: 15px;

    }

    .placeholder-preview {

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            opacity: 80%;
            cursor: pointer;
        }

        .vertical {
            height: 141px;
            width: 40px;
            border-radius: 1em;
            background-color: lightblue;
            position: relative;

            .horizontal {
                position: absolute;
                width: 152px;
                top: 50px;
                left: -57px;
                height: 40px;
                border-radius: 1em;
                background-color: lightblue;
            }
        }

    }
}

.board-preview {
    background-color: rgb(75, 191, 107);
    border-radius: 10px;
    cursor: pointer;
    color: white;

    &:hover {
        opacity: 80%;
    }

    h2 {
        margin: 10px 0 0 5px;
    }
}