.gallery {
    background-color: $offwhite;
    padding-bottom: 50px;

    .board-header {
        justify-content: space-between;
        height: 30%;
        backdrop-filter: blur(5px);
        background-color: #00000059;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .board-title {
        color: whitesmoke;
        font-family: 'Quicksand-bold';
    }

    .board-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: 150px;
        gap: 15px;
        position: relative;

        .icons {
            margin: 0 0 100px 225px;
            opacity: 0;
        }
    }

    .placeholder-preview {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: white;
        height: 150px;
        border-radius: 8px;
        position: relative;

        &:hover {
            opacity: 0.8;
            cursor: pointer;

            .fa-trash-alt {
                opacity: 1;
            }

        }

        .fa-trash-alt {
            opacity: 0;
            color: whitesmoke;
        }
    }

    .add-board-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .fa-plus {
            font-size: 3rem;
        }
    }

    h4 {
        position: absolute;
        left: 10px;
        top: 0;
    }
}


h2 {
    margin: 10px 0 0 5px;
}

