.home {
    background-color: #87c4ae;
}

.hero-container {
    background-color: $offwhite;
    padding-bottom: 50px;
}


.cta {
    font-family: "Quicksand-bold";

    h1 {
        padding-bottom: 20px;
    }

    .action-call {
        color: $offwhite;
        font-weight: bold;
        background-color: #f6b54c;
        // background-color: #ff9e00;
        padding: 15px 30px;
        border-radius: 5px;
        font-size: 1.3rem;

        &:hover {
            color: #fff;
        }

    }
}


.features-container {
    padding: 3%;

    &:nth-child(even) {
        background-color: $offwhite;
    }

    .feature-content {
        padding: 30px;
    }


    .txt-container {
        max-width: 500px;
        margin: auto;
        text-align: left;
    }

    .img-container {
        width: 20%;

        img {
            width: 100%;
        }
    }
}