.home {
    background-color: #87c4ae;
}

.page-content {
    padding-bottom: 40px;
    background-color: $offwhite;
}

.main-img {
    width: 50%;
    height: auto;
    margin-top: 50px;
}

.action-call {
    color: $offwhite;
    font-weight: bold;
    background-color: #5a917e;
    padding: 8px;
    border-radius: 5px;
}