.login-page-container {
    max-width: 1200px;
    width: 90%;
    margin: 55px auto;
    background-color: rgb(226, 226, 226);
    border-radius: 50px;
    box-shadow: 2px 2px 5px 2px rgba(181, 181, 181, 0.479);
}

.login-signup-container {
    text-align: center;
    background-color: rgb(112, 189, 163);
    width: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    align-items: center;
    justify-content: center;


    .login form,
    .signup form 
    {
        padding: 30px 50px;
        input{
            margin: 5% auto;
     }
    }

    img{
        border-radius: 50%;
        width: 60%;   
    }
}





















//     .form-wrapper {
//         display: flex;
//         align-items: center;
//         flex-direction: column;
//         justify-content: center;
//         justify-content: space-around;
//         padding: 0 35px;

//     }

//     form {
//         // height: 100%;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//     }

//     .form-wrapper.login {
//         text-align: center;

//         button {
//             margin: 10px 0;
//         }
//     }

//     .form {
//         display: flex;
//         align-items: center;
//         justify-content: space-around;
//     }


// h2 {
//     margin: 10px 0 10px 5px;
// }

// .form-wrapper.signup .form {

//     form {
//         margin: 5%;
//     }
// }

// .profile-image {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     margin-bottom: 13px;
//     text-align: center;
//     font-size: 0.8rem;

//     .image {
//         @include aspect-ratio(1, 1);
//         width: 137px;
//         height: 137px;
//         border-radius: 50%;
//         cursor: pointer;

//         img {
//             width: 100%;
//         }
//     }
// }

// input {
//     margin: 5px auto;
// }