.login-page-container {
    max-width: 1200px;
    width: 90%;
    margin: 55px auto;
    background-color: rgb(226, 226, 226);
    border-radius: 50px;
    box-shadow: 2px 2px 5px 2px rgba(181, 181, 181, 0.479);
    height: 70vh;
}

.animation-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-signup-container {
    text-align: center;
    background-color: rgb(112, 189, 163);
    width: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    align-items: center;
    justify-content: center;


    .login form,
    .signup form {
        padding: 30px 50px;

        input {
            margin: 5% auto;
        }
    }

    img {
        border-radius: 50%;
        width: 60%;
    }
}





@media only screen and (max-width: 1200px) {
    .animation {
        display: none;
    }

    .login-signup-container {
        padding: 50px;
        border-radius: 50px;
    }
}