.task-details-modal {
    position: fixed;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: flex-start;

    .task-details {
        position: relative;
        width: 768px;
        border-radius: 3px;
        background-color: #F4F5F7;
        margin: 48px 0 80px;

        .cover {
            height: 116px;
            width: 100%;
        }

        .cover-image {
            @include aspect-ratio(1, 1);
            height: 160px;
            display: flex;
            justify-content: center;
            background-color: #625649;

            img {
                width: 160px;
                left: 50%;
                transform: translate(-50%);
            }
        }

        .details-close {
            position: absolute;
            right: 23px;
            top: 18px;

            &.close-btn-details {
                background-color: rgba(0, 0, 0, .08);
                z-index: 5;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: whitesmoke;
                top: 10px;
                right: 10px;
            }
        }


        .task-details-main {
            padding: 20px 7px 20px 33px;



            .details-header {

                .main-title {
                    margin: 0;
                    padding: 0;
                    font-size: 1.3rem;
                    font-weight: bold;
                    width: 92%;
                    color: #172b4d;

                }

                .sub-title {
                    margin: 0;
                    font-size: 0.85rem;

                    span {
                        text-decoration: underline;
                    }
                }

            }

            .details-body {
                display: grid;
                grid-template-columns: 1fr 13rem;

                .main-details {
                    grid-column: 1;
                    max-width: 500px;
                }
            }
        }

    }

    .members-preview {
        margin-right: 15px;

        .avatar {
            padding-right: 6px;
        }

    }
}

.add-member-label {
    cursor: pointer;
    font-size: 16px;
    height: 32px;
    line-height: 16px;
    padding: 8px;
    color: #6d7a8f;
    border-radius: 50%;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(9, 30, 66, .04);

    &:hover {
        background-color: rgba(9, 30, 66, .08);
    }
}

.uppercase-title {
    font-size: 0.8rem;
    font-weight: bolder;
    letter-spacing: .04em;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.details-title {
    margin-left: 10px;
    font-size: 1rem;
    display: inline-block;
}

.close-desc {
    font-size: 20px;
    margin-left: 7px;
}

.action-bar {
    grid-column: 2;
    display: flex;
    align-items: center;
    position: relative;

    ul {
        min-width: 90px;
    }

    ul:first-child {
        margin: 0;
    }

    .action-bar-title {
        color: #5e6c84;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: .04em;
        text-transform: uppercase;
        line-height: 20px;
        margin-bottom: -4px;
    }

    .action {
        background-color: $lightgray;
        box-shadow: none;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        height: 32px;
        margin-top: 8px;
        max-width: 300px;
        overflow: hidden;
        padding: 6px 12px;
        width: 168px;

        &:hover {
            background-color: rgba(9, 30, 66, .08);
        }

        .action-txt {
            padding-left: 10px;
        }

    }
}

.description {

    .description-input {
        background-color: $lightgray;
        width: 98%;
        padding: 10px 0 30px 10px;
        margin-bottom: 10px;
        font-size: 14px;

        &:focus {
            background-color: white;
        }
    }

    .description-show {
        box-shadow: none;
        border: none;
        border-radius: 3px;
        display: block;
        min-height: 40px;
        padding: 8px 12px;
        max-width: unset;
        overflow-wrap: break-word;
    }
}


.task-members-edit .flex {
    align-items: baseline;
    justify-content: space-between;

    p {
        margin-left: 15px;
    }

    cursor: pointer;

}

.member-label-container {
    display: flex;
    flex-wrap: wrap;
}


.el-picker-panel {
    background-color: whitesmoke;
}

.canvas {
    .canvas-config {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .el-select {
            width: 55%;
            height: 45px;
        }

        label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-items: baseline;
            font-size: 14px;
        }

        .canvas-update {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 15px;
            align-items: center;

            .el-select {
                height: 39px;
                width: 110px;

                input {
                    margin: 0;
                }
            }

            .clear {
                background-color: #091e420a;
                color: #516077;
            }
        }
    }
}



.active-top {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #0079bf;
}

.active-full {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #0079bf;
}

.comment-add {
    margin-bottom: 21px;


    input {
        width: 98%;
    }
}

@media only screen and (max-width: 580px) {
    .task-details-modal {

        .task-details {

            .uppercase-title {
                font-size: 0.7rem;
            }

            .action-bar .action {
                width: 40px;
                text-align: center;

                .action-txt {
                    display: none;
                }
            }

            .action-bar ul {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .task-details-main .details-body {
                grid-template-columns: 1fr 5rem;
            }
        }
    }
}