@font-face {
    font-family: 'Megrim-Regular';
    src: url(~@/assets/fonts/Megrim-Regular.ttf);
}

@font-face {
    font-family: Helvetica;
    src: url(~@/assets/fonts/helvetica.ttf);
}

@font-face {
    font-family: Opensans;
    src: url(~@/assets/fonts/opensans.ttf);
}
